############################
# Visual Studio
############################
.vs/
Debug/
Release/

**/*.user

############################
# Obsidian
############################
# Obsidian 내부 설정 파일 제외
Docs_CS/.obsidian/