Language				: Cpp
BasedOnStyle			: LLVM
UseTab					: ForIndentation	# Tab 사용 여부 (/t 문자가 사용됐을 경우)
TabWidth				: 4           		# Tab의 Width 칸수
IndentWidth				: 4             	# public / private 개행 수
AccessModifierOffset	: -2				# 기본값 -2
ColumnLimit				: 0					# 줄수제한
BreakBeforeBraces		: Allman			# {}(Brace) 정렬 옵션 
PointerAlignment		: Left				# 포인터기호 위치
ReferenceAlignment		: Left				# 참조기호 위